<!-- About -->

<div class="about">
    <div class="about__text" data-aos="fade-in">
        Программное решение
        <span class="about__text about__text--orange">{{all-data.name}}</span>
        - это мощный инструмент учёта, анализа и
        контроля работы торгового предприятия.
        <p>
            <span class="about__text about__text--orange">{{all-data.nameRus}}</span> грамотно свяжет воедино компьютер,
            сканер
            штрих-кода, принтер
            этикеток, принтер чеков и кассовый аппарат (ПРРО).
        </p>
    </div>
    <div class="about__illustration" data-aos="zoom-out">

        <div class="about__sync">
            <img src="./assets/images/about/sync-arrows.svg" alt="">
        </div>

        <div class="about__image about__image--top">
            <img src="./assets/images/about/desktop.svg" alt="">
        </div>
        <div class="about__image about__image--right">
            <img src="./assets/images/about/barcode-scanner.svg" alt="">
        </div>
        <div class="about__image about__image--bottom">
            <img src="../assets/images/about/bill-printer2.svg" alt="">
            <img src="../assets/images/about/label-printer2.svg" alt="">
        </div>
        <div class="about__image about__image--left">
            <img src="./assets/images/about/cash-machine2.svg" alt="">
        </div>

    </div>
</div>