<!-- Benefits -->

<div class="benefits">
    <div class="benefits__item" data-aos="fade-in" data-aos-duration="600">
        <div class="benefits__upper">
            <div class="benefits__title">Решение</div>
            <div class="benefits__icon">
                <img src="./assets/images/benefits/check-mark.svg" alt="">
            </div>
        </div>
        <div class="benefits__lower">
            <div class="benefits__text">всех повседневных задач управления торговлей, учёта товара, анализа работы
                Вашего
                предприятия</div>
        </div>
    </div>

    <div class="benefits__item" data-aos="fade-in" data-aos-duration="600" data-aos-delay="200">
        <div class="benefits__upper">
            <div class="benefits__title">Клиенты</div>
            <div class="benefits__icon">
                <img src="./assets/images/benefits/clients-2.svg" alt="">
            </div>
        </div>
        <div class="benefits__lower">
            <div class="benefits__text">привлечение клиентов в Ваши магазины, посредством накопительной системы скидок.
                А
                так же
                <span class="benefits__text benefits__text--orange">SHOP</span>
                напомнит о Вас старым клиентам, с помощью
                СМС-рассылки
            </div>
        </div>
    </div>

    <div class="benefits__item" data-aos="fade-in" data-aos-duration="600" data-aos-delay="400">
        <div class="benefits__upper">
            <div class="benefits__title">Простота</div>
            <div class="benefits__icon">
                <img src="./assets/images/benefits/easy.svg" alt="">
            </div>
        </div>
        <div class="benefits__lower">
            <div class="benefits__text">персонал обучается в течении получаса, директор в течении нескольких часов.
            </div>
        </div>
    </div>

    <div class="benefits__item" data-aos="fade-in" data-aos-duration="600" data-aos-delay="600">
        <div class="benefits__upper">
            <div class="benefits__title">Гибкость</div>
            <div class="benefits__icon">
                <img src="./assets/images/benefits/network.svg" alt="">
            </div>
        </div>
        <div class="benefits__lower">
            <div class="benefits__text">Настраивается под любые Ваши нужды, работает как в одном магазине, так и в
                торговой
                сети</div>
        </div>
    </div>

</div>