<!-- Benefits -->

<div class="benefits">
    <div class="benefits__item" data-aos="fade-in" data-aos-duration="600">
        <div class="benefits__upper">
            <div class="benefits__title">Решение</div>
            <div class="benefits__icon">
                <img src="./assets/images/benefits/check-mark.svg" alt="">
            </div>
        </div>
        <div class="benefits__lower">
            <div class="benefits__text">Все повседневные задачи управления торговлей, учёта товара, анализа работы
                предприятия</div>
        </div>
    </div>

    <div class="benefits__item" data-aos="fade-in" data-aos-duration="600" data-aos-delay="200">
        <div class="benefits__upper">
            <div class="benefits__title">Клиенты</div>
            <div class="benefits__icon">
                <img src="./assets/images/benefits/clients-2.svg" alt="">
            </div>
        </div>
        <div class="benefits__lower">
            <div class="benefits__text">Привлечение клиентов посредством накопительной системы скидок.
                <p>
                    <span class="benefits__text benefits__text--orange">{{all-data.name}}</span>
                    напомнит о вас старым клиентам, с помощью
                    СМС-рассылки
                </p>
            </div>
        </div>
    </div>

    <div class="benefits__item" data-aos="fade-in" data-aos-duration="600" data-aos-delay="400">
        <div class="benefits__upper">
            <div class="benefits__title">Простота</div>
            <div class="benefits__icon">
                <img src="./assets/images/benefits/easy.svg" alt="">
            </div>
        </div>
        <div class="benefits__lower">
            <div class="benefits__text">Понятный и удобный интерфейс программы.
                <p>
                    Персонал обучается в течении получаса, директор в течении нескольких часов
                </p>
            </div>
        </div>
    </div>

    <div class="benefits__item" data-aos="fade-in" data-aos-duration="600" data-aos-delay="600">
        <div class="benefits__upper">
            <div class="benefits__title">Гибкость</div>
            <div class="benefits__icon">
                <img src="./assets/images/benefits/network.svg" alt="">
            </div>
        </div>
        <div class="benefits__lower">
            <div class="benefits__text">Настраивается под любые ваши нужды.
                <p>
                    Работает как в одном магазине, так и в торговой сети
                </p>
            </div>
        </div>
    </div>

</div>