<!-- Benefits -->

<div class="benefits">
    <div class="benefits__item" data-aos="fade-in" data-aos-duration="600">
        <div class="benefits__upper">
            <div class="benefits__title">Вирішення</div>
            <div class="benefits__icon">
                <img src="./assets/images/benefits/check-mark.svg" alt="">
            </div>
        </div>
        <div class="benefits__lower">
            <div class="benefits__text">Усіх повсякденних завдань управління торгівлєю, обліку товару, аналітика роботи підприємства</div>
        </div>
    </div>

    <div class="benefits__item" data-aos="fade-in" data-aos-duration="600" data-aos-delay="200">
        <div class="benefits__upper">
            <div class="benefits__title">Кліенти</div>
            <div class="benefits__icon">
                <img src="./assets/images/benefits/clients-2.svg" alt="">
            </div>
        </div>
        <div class="benefits__lower">
            <div class="benefits__text">Залучення клієнтів за допомогою накопичувальної системи знижок.
                <p>
                    <span class="benefits__text benefits__text--orange">{{all-data.name}}</span>
                    нагадає про вас старим клієнтам, за допомогою
                    СМС-розсилки
                </p>
            </div>
        </div>
    </div>

    <div class="benefits__item" data-aos="fade-in" data-aos-duration="600" data-aos-delay="400">
        <div class="benefits__upper">
            <div class="benefits__title">Простота</div>
            <div class="benefits__icon">
                <img src="./assets/images/benefits/easy.svg" alt="">
            </div>
        </div>
        <div class="benefits__lower">
            <div class="benefits__text">Зрозумілий та зручний інтерфейс програми.
                <p>
                    Персонал навчається протягом півгодини, директор протягом кількох годин
                </p>
            </div>
        </div>
    </div>

    <div class="benefits__item" data-aos="fade-in" data-aos-duration="600" data-aos-delay="600">
        <div class="benefits__upper">
            <div class="benefits__title">Гнучкість</div>
            <div class="benefits__icon">
                <img src="./assets/images/benefits/network.svg" alt="">
            </div>
        </div>
        <div class="benefits__lower">
            <div class="benefits__text">Налаштовується під будь-які ваші потреби.
                <p>
                    Працює як в одному магазині, так і в торговій мережі з великою кількістю торгівельних точок
                </p>
            </div>
        </div>
    </div>

</div>
