<!-- ================= Footer ================= -->
<footer class="footer">
    <div class="container">

        <div class="footer__inner">

            <div class="footer__copyright">
                Программное обеспечение для ведения учета товара в магазине.
                <p>
                    Автоматизация торговли.
                </p>
                <p>
                    {{all-data.name}} (с) 2001-2021. Все права защищены.
                </p>
            </div>
            <div class="footer__creator">Разработка сайта: <a href="https://vk.com/scrappyco" target="_blank">Даниил</a>
            </div>

        </div>

    </div>
</footer>