<!-- ================= Footer ================= -->
<footer class="footer">
    <div class="container">

        <div class="footer__inner">

            <div class="footer__copyright">
                Програмне забезпечення для ведення обліку товару у магазині.
                <p>
                    Автоматизація торгівлі.
                </p>
                <p>
                    {{all-data.name}} (с) 2001-2021. Всі права захищені.
                </p>
            </div>
            <div class="footer__creator">Розробка сайту: <a href="https://telegram.me/Danielyalta"
                    target="_blank">Данило</a>
            </div>

        </div>

    </div>
</footer>
