<header class="header" id="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__left">

                <div class="header__contact">

                    <a class="header__phone" href="tel:+380977647445">
                        +38 (097) 764-74-45
                    </a>

                    <a class="header__messenger" href="viber://chat?number=%2B380977647445" target="_blank">
                        <svg class="header__icon">
                            <use xlink:href="#viber"></use>
                        </svg>
                    </a>

                    <a class="header__messenger" href="https://api.whatsapp.com/send/?phone=380977647445"
                        target="_blank">
                        <svg class="header__icon">
                            <use xlink:href="#whatsapp"></use>
                        </svg>
                    </a>

                    <a class="header__messenger" href="https://t.me/ShopControl_Ilya" target="_blank">
                        <svg class="header__icon">
                            <use xlink:href="#telegram"></use>
                        </svg>
                    </a>

                </div>
            </div>


            <nav class="nav" id="nav">
                <ul class="nav__menu">
                    <li class="nav__item">
                        <a href="#benefits" class="nav__link">Переваги</a>
                    </li>
                    <li class="nav__item">
                        <a href="#price" class="nav__link">Тарифи</a>
                    </li>
                    <li class="nav__item">
                        <a href="#present" class="nav__link">Презентація</a>
                    </li>
                    <li class="nav__item">
                        <a href="#contacts" class="nav__link">Контакти</a>
                    </li>


                </ul>
            </nav>

            <button class="burger" type="button" id="burger">
                <span class="burger__item">Menu</span>
            </button>
        </div>
    </div>
</header>
