<!-- ================= Intro ================= -->

<div id="intro" class="intro" data-aos="fade-in">
    <div class="container">
        <div class="intro__inner">
            <h1 class="intro__title">Программа для учета товара в магазине
            </h1>
            <h2 class="intro__subtitle">
                Программное решение ShopControl с 2001 года облегчает многим предпринимателям автоматизацию торговли.
                <p>
                    ШопКонтрол поможет и Вам вести учёт товара в Вашем магазине или торговой сети
                </p>
            </h2>
            <a class="btn btn--intro" href="tel:+380977647445" id="introBtn">Звоните нам</a>
        </div>
    </div>
    <div class="intro__picture intro__picture--left" data-aos="slide-top" data-aos-duration="2500">
        <img src="./assets/images/icons/barcode-scanner-2.svg" alt="">
    </div>
    <div class="intro__picture intro__picture--right" data-aos="slide-left" data-aos-duration="2500">
        <img src="./assets/images/icons/scanner.svg" alt="">
    </div>
</div>