<!-- Price -->


<div class="price" data-aos="fade-in" data-aos-duration="400">

    <!-- Тариф 1 -->
    <div class="price__item" data-aos="fade-in" data-aos-duration="600">
        <div class="price__info">
            <div class="price__name">Встановлення</div>
            <div class="price__cost">від 4 000 грн.</div>
            <div class="price__terms">
                8 000грн. перший магазин
                <p>
                    4 000грн. кожен наступний
                </p>
            </div>
        </div>
        <div class="price__features">
            <div class="price__clause">Встановлення программи</div>
            <div class="price__clause">Налаштування обладнання</div>
            <div class="price__clause"><p>Персональне навчання</p> <p>директора і продавців</p></div>
        </div>
    </div>

    <!-- Тариф 2 -->
    <div class="price__item" data-aos="fade-in" data-aos-duration="600" data-aos-delay="200">
        <div class="price__info">
            <div class="price__name">Ліцензія</div>
            <div class="price__cost">від 4 000 грн.</div>
            <div class="price__terms">
                Річна ліцензія з технічною підтримкою
                <p>8 000грн. перший магазин</p>
                <p>4 000грн. кожен наступний</p>
            </div>
        </div>
        <div class="price__features">
            <div class="price__clause">Повний функціонал</div>
            <div class="price__clause">Ліцензія на 1 рік</div>
            <div class="price__clause">Технічна підтримка</div>
            <div class="price__clause">Система знижок</div>
            <div class="price__clause">Інтеграція з ПРРО та терміналом +2 000грн/рік</div>
        </div>
    </div>

    <!-- <div class="price__item" data-aos="fade-in" data-aos-duration="600" data-aos-delay="400">
        <div class="price__info">
            <div class="price__cost">4800 грн.</div>
            <div class="price__name">Расширенный + рро</div>
            <div class="price__terms">Расширенный + интерграция системы учёта с регистратором расчётных операций</div>
        </div>
        <div class="price__features">
            <div class="price__clause">Полный функционал</div>
            <div class="price__clause">Лицензия на 1 год</div>
            <div class="price__clause">Тех. поддержка</div>
            <div class="price__clause">Система скидок</div>
            <div class="price__clause">Регистратор расчётных операций</div>
        </div>
    </div> -->

</div>
