<!-- Price -->

<div class="price" data-aos="fade-in" data-aos-duration="400">

    <div class="price__item">
        <div class="price__upper">
            <div class="price__cost">100 $</div>
            <div class="price__name">Демо</div>
            <div class="price__terms">Версия программы для ознакомления, на 7 дней пользования</div>
        </div>
        <div class="price__lower">
            <div class="price__features">
                <div class="price__clause">7 дней</div>
                <div class="price__clause">1 магазина</div>
                <div class="price__clause">1 сотрудник</div>
            </div>
        </div>
    </div>

    <div class="price__item">
        <div class="price__upper">
            <div class="price__cost">500 $</div>
            <div class="price__name">Стандарт</div>
            <div class="price__terms">Полный функционал программы навсегда</div>
        </div>
        <div class="price__lower">
            <div class="price__features">
                <div class="price__clause">Навсегда</div>
                <div class="price__clause">5 магазинов</div>
                <div class="price__clause">20 сотрудников</div>
            </div>
        </div>
    </div>

    <div class="price__item">
        <div class="price__upper">
            <div class="price__cost">1 000 $</div>
            <div class="price__name">Расширенный</div>
            <div class="price__terms">Полный функционал программы навсегда + Консультации</div>
        </div>
        <div class="price__lower">
            <div class="price__features">
                <div class="price__clause">Навсегда</div>
                <div class="price__clause">Неограничено кол-во магазинов</div>
                <div class="price__clause">Неограничено кол-во сотрудников</div>
                <div class="price__clause">Консультации</div>
            </div>
        </div>
    </div>

</div>