<!-- Price -->

<div class="price" data-aos="fade-in" data-aos-duration="400">

    <div class="price__item" data-aos="fade-in" data-aos-duration="600">
        <div class="price__info">
            <div class="price__cost">2700 грн.</div>
            <div class="price__name">Стандарт</div>
            <div class="price__terms">
                Годовая подписка на лицензию, обновления и техническую поддержку, полный функционал
            </div>
        </div>
        <div class="price__features">
            <div class="price__clause">Полный функционал</div>
            <div class="price__clause">Лицензия на 1 год</div>
            <div class="price__clause">Тех. поддержка</div>
        </div>
    </div>

    <div class="price__item" data-aos="fade-in" data-aos-duration="600" data-aos-delay="200">
        <div class="price__info">
            <div class="price__cost">3400 грн.</div>
            <div class="price__name">Расширенный</div>
            <div class="price__terms">Стандарт + накопительная система скидок</div>
        </div>
        <div class="price__features">
            <div class="price__clause">Полный функционал</div>
            <div class="price__clause">Лицензия на 1 год</div>
            <div class="price__clause">Тех. поддержка</div>
            <div class="price__clause">Система скидок</div>
        </div>
    </div>

    <div class="price__item" data-aos="fade-in" data-aos-duration="600" data-aos-delay="400">
        <div class="price__info">
            <div class="price__cost">4800 грн.</div>
            <div class="price__name">Расширенный + рро</div>
            <div class="price__terms">Расширенный + интерграция системы учёта с регистратором расчётных операций</div>
        </div>
        <div class="price__features">
            <div class="price__clause">Полный функционал</div>
            <div class="price__clause">Лицензия на 1 год</div>
            <div class="price__clause">Тех. поддержка</div>
            <div class="price__clause">Система скидок</div>
            <div class="price__clause">Регистратор расчётных операций</div>
        </div>
    </div>

</div>